body {

}
/*
CSS for Header part

*/
.classAppNameInHeader{
	font-size: 24px;
	color:#f80;
	line-height: 45px;
}
.classOrangeColor{
    color:#f80;
}
.classOrangeColor a{
    color:#f80;
}
.classRedFont{
	color: #ff0000;
}
.classTop50Margin{
	margin-top: 50px;	
}
.classMin700Height{
	min-height: 700px;
}

.classBottom10BMargin{
	margin-bottom: 10px!important;
}

.classBodyContentWrapper{
	width: 90%;
	margin: auto;

}

.classLogoutCaption{
	float: right;
	color:#fff;
	margin:10px;
}
.classTextAlignRight{
	text-align: right;
}

.classTopBorder{
	padding-top: 10px;
	border-top: 1px solid #eee;
}


/* This would be for the danger button... */
.navbar-inverse .navbar-nav>li>a.btn-danger {
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a.btn-danger:hover {
    background-color: #c12e2a;
}

/* ...and this one for the success button */
.navbar-inverse .navbar-nav>li>a.btn-success:hover {
    background-color: #5cb85c;
}

.classWidget {

}

.classWidget .classWidgetHeader {
	margin-bottom: 0;
}

.classWidget .classWidgetBody {
	
}

.navbar {
	min-height: 92px;
}

.navbar .nav {
    padding: 15px 0;
}

.navbar .navbar-brand {
	padding: 0 15px;
}

.navbar .navbar-brand img {
	height: 35px;
	width: 100%;
}

@media(min-width:768px) {
    .navbar .nav {
        padding: 15px 0;
    }

    .navbar .navbar-brand {
        padding: 15px 0;
    }
}

/* Footer */
footer,
.classPageFooter
{
background-color: #f2e5cc;
background-color: #222;
border-top:1px #E87830 solid;
font-family: 'Segoe UI', 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
font-size: 10px;
font-weight: normal;
color: #FFF;
background-repeat:no-repeat;
background-position:top; 
height:42px;

background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
background-repeat: repeat-x;

}

span.classFooterText,
a.classFooterLinkRight,
a.classFooterLinkRight:link,
a.classFooterLinkRight:visited
{
text-decoration:none;
font-family: 'Segoe UI', 'Open Sans', 'Lucida Grande', TrebuchetMS, MarkerFelt-Thin,Tahoma, Helvetica, Arial, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
color: #fff;
float:right;
padding-top: 12px;
padding-right: 5px;
}

span.classFooterTextLink,
a.classFooterLinkLeft,
a.classFooterLinkLeft:link,
a.classFooterLinkLeft:visited
{
text-decoration:none;
font-family: 'Segoe UI', 'Open Sans', 'Lucida Grande', TrebuchetMS, MarkerFelt-Thin,Tahoma, Helvetica, Arial, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
color: #fff;
float:left;
padding-top: 12px;
padding-left: 5px;
}
.classPageFooterBar
{
}


.classFooterNavigation
{

float:left;
margin-top: 10px;
}

.classFooterIcons
{
float:right;
margin-top: 5px;
margin-left: 15px;
padding: 20px;

}
.classCustomTextArea{
	height: 100px;
}
.classCustomIcon{
	background: #428bca;
	color: #fff;
	border-radius:5px 0px 0px 5px; 	
}
.classCustomTweetTxt{		

}
.classCustomDAT{
	color: #fff;
	background: #428bca;	
	border-radius:0px 5px 5px 0px;
}
.classCustomRow{
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 10px;
}
.classCustomRowBottom{
	border-bottom: 1px solid #999;	
	margin: 10px;
}
.class30Lineheight{
	line-height: 30px;
}